<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.xl.ccms.dao.StudentDao">

    <resultMap id="AccountMap" type="com.xl.ccms.entity.Account" >
        <id column="ID" property="id" jdbcType="VARCHAR" />
        <result column="STU_ID" property="stuId" />
        <result column="USERNAME" property="username" />
        <result column="PASSWORD" property="password" />
        <result column="BIRTHDAY" property="birthday" />
        <result column="SEX" property="sex" />
        <result column="TEL" property="tel" />
        <result column="QQ" property="qq" />
        <result column="DORMITORY" property="dormitory" />
        <result column="HOBBY" property="hobby" />
        <result column="HOMETOWN" property="hometown" />
        <result column="PHOTO" property="photo" />
        <result column="STATUS" property="status" />
        <result column="ENTER_DATE" property="enterdate" />
        <result column="TYPE" property="type" />
    </resultMap>

    <select id="selectStudentByPage" resultMap="AccountMap">
        select * from account
        where type='0' and 1=1
        <if test="account.stuId != null">
            and stu_id = #{stuId}
        </if>
        limit #{page.startRows},#{page.singleRows}
    </select>

    <select id="countStudentByCondition" resultType="java.lang.Integer">
        select count(*) from account
        where type='0' and 1=1
        <if test="stuId != null">
            and stu_id = #{stuId}
        </if>
    </select>
     
</mapper>
